{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 48.934,
        "longitude": 8.9527,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "Europe/Berlin",
        "external_url": null,
        "internal_url": null,
        "currency": "EUR"
    }
}